h3 Ways that you can help the HSA

ul.help
  li Become a committee member
  li use the giving machine
  li matched giving
  li become a class rep
  li volunteer for a stall at an event
  li lend expertise in marketing, web design, muscle power
  li seek sponsorship
  li come up with new ideas for events