form.form(novalidate, name="form")
  div
    label(for="name") Your Name
    input(required, type="text", placeholder="Your Name", name="name", ng-model="contact.name")
    
  div
    button.button.small.dropdown(data-dropdown="to-drop", ng-disabled="members.length<=0") Choose Recipients
    ul.f-dropdown#to-drop(data-dropdown-content)
      li(ng-repeat="m in members", ng-click="addRecipient(m)") {{m.name}}
      
  div.recipient(ng-repeat="t in to") {{t.name}}
    span.close(ng-click="removeRecipient(t)") &nbsp;&times;
  
  div
    label(for="email") Your Email
    input(required, type="email", placeholder="Your Email", name="email", ng-model="contact.email")
    
  div
    label(for="message") Your Message
    textarea(required, rows="10", type="text", placeholder="Your Message", name="message", ng-model="contact.message")
  
  div
    button(ng-click="send(contact)", ng-disabled="form.$invalid") Send
    
div#confirm.reveal-modal.small
  h4 You message has been successfully delivered!
  p (it hasn't really - shhhh)
  button(ng-click="closeConfirm()") OK
