.orbit-container
  ul(data-orbit)
    li
      img(src="images/toddler.jpg")
      .orbit-caption Tired of this ...?
    li
      img(src="images/hair.jpg")
      .orbit-caption Feeling a bit ...
    li
      img(src="images/dinner.jpg")
      .orbit-caption Need more of this ...?
