.intro
  h2 Welcome to the Hatfeild School Association Web Site
  
  p 
  
    | The HSA is a registered charity which exists to raise additional
    | funds for our school through events that our children, their families
    | and their teachers can enjoy.
   
  p
    | Our aim is to invest the funds that we raise in equipment, facilities
    | and activities that will enhance the school life for our children 
    | for many years to come. 
    
  p
    | This year's fundraising goal is to continue to raise money towards
    | providing a climbing frame for the children. £12,000 has already
    | been donated to the school towards the cost of this and plans are 
    | now progressing. 
    
  p 
    | In the past funds have been donated to equip the school IT suite, 
    | provide a sensory room, a pond, outdoor wigwams, whiteboards, rugs,
    | recorders as well as less exciting items such as sheds for nursery
    | and reception to store their outdoor equipment

 

    
  