.diy-carousel-container
    .diy-carousel
        .picture.left
            img(src="images/toddler.jpg")
            .carousel-text Tired of this ...?
        .picture.left
            img(src="images/hair.jpg")
            .carousel-text Feeling a bit ...
        .picture.left
            img(src="images/dinner.jpg")
            .carousel-text Need more of this ...?

.row.explain
  .small-12.large-6.columns
    .explain-div Simply create one or more circles of friends who you trust to look after your children
    
  .small-12.large-6.columns
    .explain-div When you want to go out, share your request with one or more of your circles here and wait for one of your friends to volunteer
 

    
  