h2 Create a request

form(ng-submit="submit()")
    div
        label Date
        input(type="text", ng-model="request.date")

    div
        label Start
        input(type="text", ng-model="request.start")

    div
        label End
        input(type="text", ng-model="request.end")

    div
        label Description
        input(type="text", ng-model="request.description")

    div
        button.button(type="submit") Create