//a.button.small.right(href='/newsitem/new') New News Item

div.row(ng-repeat="n in newsitems", ng-animate="'custom'")
  .small-offset-1.small-10.columns
    .news
      a(href='/newsitem/view/{{n._id}}') 
        h4 {{n.title}}
      p {{n.description|truncate:200}} 
        a(href='/newsitem/view/{{n._id}}') read more ...
      p 
        i posted by {{n.author}} on {{n.created}}
  .small-1.columns