.small-offset-1.small-10.columns
    .news 
      h4 {{newsitem.title}}
      p(ng-bind-html-unsafe="newsitem.description|htmlifyLineBreaks")
      p 
        i posted by {{newsitem.author}} on {{newsitem.created}}
  .small-1.columns