extends layout

block body
  nav.top-bar
    ul.title-area
      li.name
        h1
          a(href='/') Hatfeild School Association
      li.toggle-topbar.menu-icon
        a(href='#')
          span
   
    section.top-bar-section
      ul.left
        li.divider
        li.active
          a(href='newsitem/index') News
        li.divider
        li
          a(href='event/index') Events
        li.divider
        li
          a(href='help') How to Help
        li.divider
        li
          a(href='team') Team
        li.divider
        li
          a(href='contact') Contact Us
        li.divider
        li
          a(href='sponsors') Sponsors
        li.divider
        li
          a(href='links') Links
          
      ul.right
        li.divider
        li 
          a This should say who's logged in       
  
  
  
  #main(ng-cloak)
    .container
      breadcrumb.row
      .row.panel.main
        .small-12          
          div.view-animate-container#content(ng-view)

          div#login-holder(ng-controller='LoginCtrl')
            h2 Log In

            form(ng-submit="submit()")
              div
                label Username
                input(type="text",name="username", ng-model="username")

              div
                label Password
                input(type="password",name="password", ng-model="password")

              div
                button.btn(type="submit") Log In
              p
                a(href='register') Register

block scripts
   
