extends layout

block body
  nav.top-bar
    ul.title-area
      li.name
        h1          
          a(href='/') Hatfeild School Association
      li.toggle-topbar.menu-icon
        a(href='#')
          span
   
    section.top-bar-section
      ul.left
        li.divider
        li.active
          a(href='newsitem/index') News
        li.divider
        li
          a(href='event/index') Events
        li.divider
        li
          a(href='help') How to Help
        li.divider
        li
          a(href='team') Team
        li.divider
        li
          a(href='contact') Contact Us
        li.divider
        li
          a(href='sponsors') Sponsors
        li.divider
        li
          a(href='links') Links
          
      ul.right
        li.divider
        li 
          a This should say who's logged in       
  
  
  
  #main(ng-cloak)
    .container
      breadcrumb.row
      .row.panel.main
        .small-12          
          div.view-animate-container#content(ng-view)
         
          div#login-holder.login-container(ng-controller='LoginCtrl')
          
            div#login-reg
              div.flip.front
                h3 Log In
    
                form.form(name="loginForm", ng-submit="submit()", novalidate)
                  div
                    label Username
                    input(type="text",name="username", ng-model="username", required)
    
                  div
                    label Password
                    input(type="password",name="password", ng-model="password", required)
    
                  div
                    //div.loginBtn(ng-disabled="loginForm.$invalid") Log In
                    button(ng-disabled="loginForm.$invalid") Log In
                  p
                    a(href="#", ng-click="flippy()") Register
              div.flip.back
                h3 Register
    
                form.form(name="registerForm", ng-submit="register()", novalidate)
                  div
                    label Name
                    input(type="text",name="name", ng-model="name", required)
                  
                  div
                    label Username
                    input(type="text",name="username", ng-model="username", required)
    
                  div
                    label Password
                    input(type="password",name="password", ng-model="password", required)
    
                  div
                    button.button.small(type="submit", ng-disabled="registerForm.$invalid") Register
                  p
                    a(href="#", ng-click="flippy()") Log In

block scripts
   
