extends layout

block body
  navbar
  
  #main(ng-cloak)
    .container
      breadcrumb.row
      .row.panel.main
        .small-12          
          div.view-animate-container#content(ng-view)
         
          div#login-holder.login-container(ng-controller='LoginCtrl')
          
            div#login-reg
              div.flip.front
                h3 Log In
    
                form.form(name="loginForm", ng-submit="submit()", novalidate)
                  div
                    label Email Address
                    input(type="text",name="username", ng-model="username", required)
    
                  div
                    label Password
                    input(type="password",name="password", ng-model="password", required)
    
                  div
                    button(ng-disabled="loginForm.$invalid") Log In
                  p
                    a(href="#", ng-click="flippy()") Register
                    br
                    a(href="#", ng-click="forgotPassword()") Forgot Password?
                    br
                    a(href="#", ng-click="cancel()") Cancel
              div.flip.back
                h3 Register
    
                form.form(name="registerForm", ng-submit="register()", novalidate)
                  div
                    label Name
                    input(type="text",name="name", ng-model="name", required)
                  
                  div
                    label Email Address
                    input(type="text",name="username", ng-model="username", required)
    
                  div
                    label Password
                    input(type="password",name="password", ng-model="password", required)
    
                  div
                    button.button.small(type="submit", ng-disabled="registerForm.$invalid") Register
                  p
                    a(href="#", ng-click="flippy()") Log In
                    br
                    a(href="#", ng-click="cancel()") Cancel

block scripts
   
