/* app css stylesheet */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*
$red:#e57152;
$yellow:#e8df89;
$btnPrimaryBackground:$red;
$dark:#2c2e4c;
$background:#ffffd6;
$background:#f6f6f6;
$white:#ffffff;
*/

#slow, #error {
  text-align:center;  
}

.breadcrumbs {
  padding-right:10px;
}

.timerange button {
  margin-right : 5px;  
}

.login-container { 
  width: 200px;
  height: 260px;
  position: relative;
  -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
}

.f-dropdown {
  padding : 1em;
}

.f-dropdown li {
  padding:5px;
}

#login-reg {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
}

#login-reg .flip {
  display: block;
  position: absolute;
  background-color:#f2f2f2;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
}

#login-reg.flipped {
  -webkit-transform: translateX( -100% ) rotateY( -180deg );
         -moz-transform: translateX( -100% ) rotateY( -180deg );
           -o-transform: translateX( -100% ) rotateY( -180deg );
              transform: translateX( -100% ) rotateY( -180deg );
}

#login-reg a {
  margin-right : 5px;
}

.flip.front {
}
.flip.back {
  -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
}

ul.breadcrumbs {
  margin-left:auto !important;
  top : -30px;
  position:relative;  
  -webkit-border-radius:0px;
  border-radius:0px;
}

.trash {
  background-image : url("/images/trash.png");
  background-repeat:no-repeat;
  width:30px;
}

.slot {
   text-align:center; 
}

.slotFilled {
  font-style:italic;
  color:#bbb;
}

body{
  background-image: url("/images/watermark.png");
  background-repeat:no-repeat;
  background-position: 0 80px;
}

.intro{
  padding:40px;
  /*background-image: url("/images/logo.png");
  background-repeat:no-repeat;*/
}

.intro img.logo {
  margin-bottom:10px;
}

.recipient, .volunteer {
  padding:8px;
  background-color:#fff;
  border:solid 1px #ccc;
  margin-right:5px;
  margin-bottom:10px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.recipient {
  display: inline-block;    
}

span.close {
  cursor : pointer;
  float:right;
}


.news {
  cursor:pointer;
  padding:20px;
  border:solid 1px #ccc;
  margin-bottom:10px;
  background-color:#fff;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 3px 3px 8px rgba(76,43,47,.4);
  -moz-box-shadow: 3px 3px 8px rgba(76,43,47,.4);
  box-shadow: 3px 3px 8px rgba(76,43,47,.4);
}

#confirm {
  text-align:center;
}

.sponsor h3 {
  float:left;
  margin-right:20px;
  font-size : 1.5em;
  border-color:#ccc;
  border-width:1px;
  border-style:solid;
  padding:10px;
  background-color:#fff;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -moz-transition:font-size 0.2s, color 0.2s;
  -webkit-transition:font-size 0.2s, color 0.2s;
  -o-transition:font-size 0.2s, color 0.2s;
  transition:font-size 0.2s, color 0.2s;
}

.sponsor h3:hover {
  font-size : 1.5em;
  color : #2ba6cb;
  border-color:#2ba6cb;
  -webkit-box-shadow: 3px 3px 8px rgba(76,43,47,.4);
  -moz-box-shadow: 3px 3px 8px rgba(76,43,47,.4);
  box-shadow: 3px 3px 8px rgba(76,43,47,.4);
}

textarea {
 height:auto !important; 
}

.form input.ng-invalid.ng-dirty, .form textarea.ng-invalid.ng-dirty { border: 1px solid red; }

.recipient .close{
  color:#bbb;
  cursor:pointer;
}

.fb-like{
  position:relative;
  top:15px;
}

.ping {
  width : 40px;
  height : 32px;
  float:left;
  background-image : url("/images/mail.png");
  background-repeat: no-repeat;  
  cursor:pointer;
  background-position:0 -5px;
}

#login-holder{
    display:none;
    width:30em;
    margin-left:auto;
    margin-right:auto;
}

.team-member{
  margin-bottom:10px !important;
}

ul.help{margin-left:60px;}
ul.help li {
  list-style-image : url("/images/tick_32.png");
  list-style-position :inside;
}

.main {
  min-height:400px;
  position:relative;
  top:-25px;
}
.main, .footer {
  -webkit-box-shadow: 3px 3px 8px rgba(76,43,47,.4);
  -moz-box-shadow: 3px 3px 8px rgba(76,43,47,.4);
  box-shadow: 3px 3px 8px rgba(76,43,47,.4);
  
}

.row.full-width {
  max-width: 100%;
}

.custom-enter {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    position:relative;
}

.header-row{
    font-weight: bold;
}

.custom-enter {
    left:20px;
    opacity: 0.7;
}
.custom-enter.custom-enter-active {
    left:0px;
    opacity: 1;
}

.lookup-result{
  padding:10px;
  position:absolute;
  z-index:1000;
  background-color:#ffffff;
  -webkit-box-shadow: 4px 4px 10px rgba(76,43,47,.4);
  -moz-box-shadow: 4px 4px 10px rgba(76,43,47,.4);
  box-shadow: 4px 4px 10px rgba(76,43,47,.4);
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}

.lookup-result .entry{
  padding:5px;
  cursor:pointer;  
}

.lookup-result .entry.active{
  background-color:#2ba6cb;
  color : white;
}