div(ng-repeat="p in photos") 
  
  .panel.left.album
    div.little-thumb(ng-click="showPhoto(p)")
      img(src="/images/gallery/{{album}}/thumbs/{{p.path}}")
      
div#photo-modal.reveal-modal.medium
  img#photo-img(ng-src="/images/gallery/{{album}}/{{photo.path}}")
      
 