h3 Drag and drop images on to the drop zone below

article
    input(type="text",placeholder="Album Name", ng-model="name")
    div#holder
    p Progress
        progress#uploadprogress(min="0", max="100", value="0") 0
