div(ng-repeat="a in albums") 
  
  .panel.left.album
    h3 
      a(href="/gallery/{{a.path}}") {{a.path | uppercase}}
      div.little-thumb
        img(width="100", height="100", src="/images/gallery/{{a.path}}/thumbs/{{a.thumb}}")