h3 {{viewTitle}}

form.form(novalidate, name="form")
    div
        label Date
        input(type="date", ng-model="event.date", required)
    
    div    
      label Start and End
      div.row
        .small-2.columns
          input(type="time", ng-model="event.start", required)
        .small-2.columns
          input(type="time", ng-model="event.end", required)
        .small-8.columns
    
    div
        label Title
        input(type="text", ng-model="event.title", required)
    
    div
        label Description
        textarea(rows="10", ng-model="event.description")
        
    div
        label Do you need volunteers?
        input(type="checkbox", ng-model="event.requiresVolunteers")
        
    div(ng-show="event.requiresVolunteers")
      div  
        label How many time slots do you need to fill?
        input(type="number", ng-model="event.timeSlots")
        
      div
        label How long is each slot in minutes?
        input(type="number", ng-model="event.slotDuration", value="60")
      
      div(ng-show="event.timeSlots > 0")
        div.row
          div.small-10.columns
            input(type="text", placeholder="Add a task", ng-model="newTask")
          div.small-2.columns
            button.button.small(ng-click="addTask()") Add
        
        table(style="width:100%")
          tr
            th(style="width:40px")
            th Task
            th(ng-repeat="slot in timeSlotsArray") {{slot.start}} to {{slot.end}}            
          
          tr(ng-repeat="t in event.tasks")
            td
              button.button.tiny(ng-click="removeTask(t)") X
            td {{t.name}}        
            td(ng-repeat="slot in t.slots") 
              input(type="number", ng-model="slot.required")

    div
        button.button(ng-click="submit()", ng-disabled="form.$invalid") {{buttonText}}
        
