h3 Edit a circle

form(ng-submit="submit()")
    div
        label Name
        input(type="text", ng-model="circle.name")

    div
        label Description
        input(type="text", ng-model="circle.description")
        
    user-lookup(select-item="addUser(item)") 
    
    div
      div(ng-repeat="user in circle.users")
        div.alert-box.success.radius(data-alert)
          {{user.username}}
          a.close(href="#", ng-click="deleteUser(user)") &times;
        
    div
        button.btn(type="submit") Update