h3 Edit a circle

form(ng-submit="submit()")
    div
        label Name
        input(type="text", ng-model="circle.name")

    div
        label Description
        input(type="text", ng-model="circle.description")
        
    user-lookup        

    div
        button.btn(type="submit") Update