a.button.small.right(href='/circle/new') New Circle
h2 Circles that you belong to

table.table(style="width:100%")
    th Name
    th Description
    th(style="width:30px")
    th(style="width:30px")
    tr(ng-repeat="circle in circles")
        td {{circle.name}}
        td {{circle.description}}
        td
            button.button.small(ng-click='delete(circle)') Delete
        td
            a.button.small(href='/circle/edit/{{circle._id}}') Edit