h2 Create a new circle

form(ng-submit="submit()")
    div
        label Name
        input(type="text", ng-model="circle.name")

    div
        label Description
        input(type="text", ng-model="circle.description")

    div
        button.btn(type="submit") Create