h3 This is where the admin tasks go

div
  a.button(href='/newsitem/new') Add A News Item

div
  a.button(href='/event/new') Create a calendar event

div
  a.button(href='/gallery/upload') Upload Photos