
form(ng-submit="submit()")
    .row
        .small-6.small-offset-3
            h2 Register

            div
                label Username
                input(type="text",name="username", ng-model="username")

            div
                label Password
                input(type="password",name="password", ng-model="password")

            div
                button.button(type="submit") Register

