div
  label Users
  input.user-lookup-input(type='text', ng-model='prefix')
  div.lookup-result(ng-show='results != null && results.length > 0')
    div(ng-class='class($index)', ng-repeat='result in results') {{result.username}}